

<div class="container">

    <h2>Crear Cuenta</h2>
    <form class="row g-3" (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="col-md-6">
          <label for="inputName" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="inputName" [(ngModel)]="model.nombre" name="nombre">
        </div>
        <div class="col-md-6">
          <label for="inputLastName" class="form-label">Apellidos</label>
          <input type="text" class="form-control" id="inputLastName" [(ngModel)]="model.apellidos" name="apellidos">
        </div>
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4" [(ngModel)]="model.email" name="email">
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="inputPassword4" [(ngModel)]="model.contrasena" name="password">
        </div>
        <div class="col-12">
          <label for="inputAddress" class="form-label">Dirección</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Paseo de la Castellana" [(ngModel)]="model2.direccion" name="=direccion">
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">Ciudad</label>
          <input type="text" class="form-control" id="inputCity" [(ngModel)]="model2.ciudad" name="ciudad">
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">Provincia</label>
          <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
            
          </select>
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Codigo postal</label>
          <input type="text" class="form-control" id="inputZip" [(ngModel)]="model2.codigo_postal"   disabled name="codigo_postal">
        </div>
        <div class="col-12">
          <button type="submit" id="boton-inicio" class="btn btn-primary">Crear Cuenta</button>
        </div>
      </form>
    
    <a class="btn-primary" routerLink="" routerLinkActive="active" >Back to Main Page</a>
  


</div>



