


<div class="container">

<form class="row g-3">
    <div class="col-md-4">
      <label for="inputEmail4" class="form-label">Marca</label>
      <input type="text" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Modelo</label>
      <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-md-4">
      <label for="inputAddress" class="form-label">Matricula</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-md-4">
      <label for="inputAddress2" class="form-label">Combustible</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <div class="col-md-4">
      <label for="inputCity" class="form-label">Transmisión</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">State</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="col-md-6">
        <input type="file" class="form-control" id="inputGroupFile01">
      </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>
</div>
